.sr-progress {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .sr-progress-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}