@import "@styles/color";

.sr-swith-language {
    background: $primary-color;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;

    .language {
        cursor: pointer;
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px 10px;

    }

    .language-active {
        color: $button-active !important;
    }
}