@import "./fonts";
@import "./color";

* {
    font-family: "Urbanist";
}

.grecaptcha-badge {
    z-index: 100;
}

body {
    height: 100vh;

    #root, .sr-app {
        height: 100%;
    }
}

html {
    overflow: hidden;
}

.offcanvas-body {
    background: $primary-color;
    padding: 0px;
}

.offcanvas-header {
    justify-content: space-between;
    background: $primary-color;
    color: white;;

    button {
        background: unset;
        border: unset;

        svg {
            color: white;
            width: 50px;
            height: 30px;
        }
    }
}

.sr-app {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    scroll-behavior: smooth;
    scroll-padding-top: 50px;

    .sr-body {
        flex: 1;
        display: flex;
    }
}