@import "@styles/color";

.sr-card {
    padding: 10px;
    position: relative;

    .points {
        margin: 20px 0px;
        font-size: 20px;
    }

    a {
        color: white;
        text-decoration: none;
    }
    .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;

        background: $primary-color;

        text-decoration: none;

        color: white;

        height: 350px;

        img {
            margin: 50px 0px;
            z-index: 3;
            max-height: 80px;
        }

        h2 {
            z-index: 2;
            transition: all .5s ease;
        }

        &:hover {
            &::before {
                background: rgba($color: #000000, $alpha: .4)
            }

            h2 {
                font-size: 25px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .2);
            z-index: 1;
            transition: all .5s ease;
        }
    }
}