@import "@styles/color";

.sr-content-inner-about {
    background: url("~@images/homebackground 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .sr-about-row {
        margin: 40px 0px;
        color: white;

        .description {
            background: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 25px 50px;
        }

        .image {
            background: $hover-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 0px;

            img {
                background: white;
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media (max-width: 992px) {
    .sr-content-inner-about {
        .sr-about-row {
            .image {
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
    
}